body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Her;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;

}

a {
    text-decoration: none;
    color: white;

}

.header,
.intro {
    background-color:#1f2937;
    color: white;
    padding: 5px 10em;
    
}

.intro {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

.hobbies {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.hobby {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 80px 240px;
    display: flex;
    flex-direction: column;
}

p.text {
    font-size: 36px;
    font-family: light italic;
    color: #1f2937;
    

    
}

.author {
    text-align: right;
}
