body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Her;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;

}

a {
    text-decoration: none;
    color: white;

}

.header,
.intro {
    background-color:#1f2937;
    color: white;
    padding: 5px 10em;
    
}

.intro {
    display: flex;
    flex-direction: row;
}